<div class="flex items-center justify-center grow bg-center bg-no-repeat page-bg w-[370px]">
    <div class="card-dark max-w-[370px] w-full card-escuro">
        <form action="#" class="card-body-dark flex flex-col gap-5 p-10" id="reset_password_change_password_form"
            method="post">
            <div class="text-center">
                <h3 class="text-lg font-semibold text-white">
                    Alterar Senha
                </h3>
                <span class="text-2sm text-gray-400">
                    Insira sua nova senha
                </span>
            </div>
            <div class="flex flex-col gap-1">
                <label class="form-label text-white">
                    Nova Senha
                </label>
                <label class="input font-semibold input-escuro" data-toggle-password="true">
                    <input placeholder="Digite sua nova senha" [type]="mostrarSenha ? 'text' : 'password'" />
                    <a class="cursor-pointer "type="button" (click)="alterarVisibilidadeSenha()">
                        <i *ngIf="!mostrarSenha" class="ki-filled ki-eye text-gray-400" title="Mostrar Senha">
                        </i>
                        <i *ngIf="mostrarSenha" class="ki-filled ki-eye-slash text-gray-400" title="Ocultar Senha">
                        </i>
                    </a>
                </label>
            </div>
            <div class="flex flex-col gap-1">
                <label class="form-label text-white">
                    Confirmar nova senha
                </label>
                <label class="input font-semibold input-escuro" data-toggle-password="true">
                    <input placeholder="Confirme sua nova senha" [type]="mostrarNovaSenha ? 'text' : 'password'" />
                    <a class="cursor-pointer" type="button" (click)="alterarVisibilidadeNovaSenha()">
                        <i *ngIf="!mostrarNovaSenha" class="ki-filled ki-eye text-gray-400" title="Mostrar Senha">
                        </i>
                        <i *ngIf="mostrarNovaSenha" class="ki-filled ki-eye-slash text-gray-400" title="Ocultar Senha">
                        </i>
                    </a>
                </label>
            </div>
            <button class="btn btn-primary flex justify-center grow" (click)="senhaAlterada()">
                Alterar
            </button>
        </form>
    </div>
</div>