<div class="flex items-center justify-center grow bg-center bg-no-repeat page-bg w-[370px]">
    <div class="card-dark max-w-[440px] w-full card-escuro">
        <div class="card-body-dark p-10">
            <div class="flex justify-center mb-5">
                <img alt="image" class="max-h-[180px]" src="assets/media/illustrations/32-dark.svg" />
            </div>
            <h3 class="text-lg font-semibold text-white text-center mb-4">
                Sua senha foi alterada com sucesso
            </h3>
            <div class="flex justify-center">
                <a class="btn btn-primary font-semibold" (click)="voltarLogin()">
                    Fazer Login
                </a>
            </div>
        </div>
    </div>
</div>